*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-image: linear-gradient(to bottom left, #ef60e7, #95b9e5);
}

.box{
    width: 60%;
    height: 60%;
    background:rgba(255, 255, 255, 0.931);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    border-radius: 20px ;
}

.box img{
    width: 230px;
    height: 230px;
    float: left;
    margin-top: 70px;
    margin-left: 30px;
}

h1,.login,.buttonlogin,.forgetpassword{
margin-top: 30px;
}
h1{
    text-transform: uppercase;
}
.login input{
    text-align: center;
    display: block;
    width: 270px;
    height: 50px;
    margin-left: 60%;
    margin: 20px auto;
    border-radius: 10px;
    border: solid 2px #95b9e5;
    outline: none;
    transition: 0.5s;
}
.login input:focus{
    width: 300px;
    border-color: #ef60e7;
}

.buttonlogin input{
    text-align: center;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: solid 2px #95b9e5;
    transition: 0.5s;
    background: none;
    text-transform: uppercase;
    cursor: pointer;
}

.buttonlogin input:hover{
    background:#ef60e7 ;
}
.forgetpassword a{
    margin-left: 270px;
}